:root {
  --primary: #ffffff;
  --accent: #2d3132;
  --stroke: #dce0e0;
  --muted: #fbfbfb;
  --error: red;

  --border-radius: 4px;
}

.dark {
  --accent: #f8fbfc;
  --primary: #191b1c;
  --stroke: #323435;
  --muted: #1f2224;
}

* {
  margin: 0;
}

html {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primary);
}

body {
  background-color: var(--primary);
  color: var(--accent);
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: stretch;
}

main {
  padding: 12rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

p,
a,
input,
div,
textarea,
button {
  color: var(--accent);
}

button {
  border-radius: var(--border-radius);
  padding: 0.75rem;
  border: 1px solid var(--stroke);
  background-color: var(--primary);
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

input,
textarea {
  height: fit-content;
  padding: 0.75rem 1rem;
  text-align: left;
  border: solid 1px var(--stroke);
  border-radius: var(--border-radius);
  background-color: var(--muted);
  color: var(--accent);
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--primary);
}

.light-logo {
  display: block;
}

.dark-logo {
  display: none;
}

/* When dark mode is active */
html.dark .light-logo {
  display: none;
}

html.dark .dark-logo {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.75rem;
  box-sizing: border-box;
  margin: 0;
  gap: 2rem;
}

nav>.middle {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.search-button {
  all: unset;
}

.search {
  width: 100%;
}

nav>.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: auto;
  aspect-ratio: 1;
  color: var(--accent);
}

.theme-toggle {
  all: unset;
}

header {
  z-index: 100;
}

header>ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--stroke);
  border-top: 1px solid var(--stroke);
  padding: 1rem 0;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--stroke);
  border-bottom: none;
  padding: 3rem 4rem;
  width: 100%;
  gap: 1.5rem;
}

footer>div>p {
  text-align: center;
}

footer>div>ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  padding: 1rem;
  height: 100px;
}

.credential-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 500px;
  width: 100%;
}

.credential-title {
  text-align: center;
}

.credential-span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.credential-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.credential-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
}

.credential-bottom>p {
  margin: 0;
}

.accent-button {
  background-color: var(--accent);
  font-weight: bold;
  color: var(--primary);
  padding: 1rem 2rem;
}

.bold {
  font-weight: bold;
}

.section-title {
  font-size: 3rem;
  text-align: center;
}

section {
  text-align: center;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.description {
  max-width: 1000px;
}

.pagination {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  width: 100%;
}

.hidden {
  display: none;
}

.asterisk {
  color: var(--error);
  font-weight: bold;
}

.menu {
  display: none;
}

.mobile-menu {
  display: none;
}

.active {
  display: none;
}

@media (max-width: 768px) {
  .active {
    display: flex;
    flex-direction: column;
  }

  nav.menu-open .left,
  nav.menu-open .middle,
  nav.menu-open .right,
  nav.menu-open #menu-icon {
    display: none !important;
  }

  nav.menu-open .mobile-menu {
    display: flex !important;
  }

  nav>.middle,
  nav>.right,
  .underlinks {
    display: none;
  }

  .menu {
    display: block;
  }

  .mobile-menu {
    width: 100vw;
    height: 100dvh;
    background-color: var(--primary);
    z-index: 2000;
    padding: 1rem 1.75rem;
    box-sizing: border-box;
    text-align: center;
    gap: 2rem;
  }

  .mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mobile-anchors {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0;
    margin-bottom: 2rem;
  }

  .font-sizes {
    margin-top: 1rem;
  }
}

.left,
.mobile-logo-container {
  width: 100px;
}

.logo {
  width: 100%;
  height: 100%;
}

.accessibility {
  position: relative;
}

.accessibility-options {
  position: absolute;
  top: 60px;
  right: 0;
  border: 1px solid var(--stroke);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
}

.accessibility-options.hidden {
  display: none;
}

.menu-burger-button {
  padding: 0;
  height: fit-content;
  width: fit-content;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
