main {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 600px;
  gap: 2rem;
}

.accent-button {
  width: fit-content;
}
