main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 3rem;
}

.edit-form,
.logout-form {
  width: 100%;
  max-width: 600px;
}

.credential-title {
  text-align: left;
}

.form-header {
  margin-bottom: 0.5rem;
}

.credential-rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.accent-button {
  width: 100%;
}

hr {
  border: 1px solid var(--stroke);
}

.forms {
  width: 100%;
}

@media (max-width: 1024px) {
  main {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .edit-form,
  .logout-form {
    max-width: 100%;
  }

  .credential-rows {
    gap: 1rem;
  }
}
