.watch-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.watch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  gap: 4rem;
  padding: 0 3rem;
}

.watch-image-container {
  max-width: 37.5rem;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--muted);
}

.watch-image {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
  transition: transform 0.3s;
  background-color: var(--muted);
}

.watch-content {
  width: 100%;
  text-align: left;
}

.watch-top {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.watch-important {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.watch-price {
  font-size: 1.5rem;
}

.watch-sizes>p {
  font-weight: bold;
}

.watch-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.size {
  padding: 0.5rem 1.5rem;
}

.watch-bottom {
  margin-top: 4rem;
}

hr {
  color: var(--stroke);
  border: 1px solid var(--stroke);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

form {
  width: 100%;
}

form>button {
  width: 100%;
}
