h1 {
  padding: 1rem 2rem;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.message {
  border: 1px solid var(--stroke);
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  border-radius: var(--border-radius);
}

.message-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.message-content {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
